@forward 'testCaret';
@forward 'testResetNotice';
@forward 'testWritingArea';
@forward 'testResultsOverlay';

#currentTest {
    position: relative;

    &[ data-testVisible="false" ] {
        #testCaret {
            opacity: 0;
        }

        #testWritingArea {
            opacity: 0;
        }
    }
}