@use '../../values/colors' as colors;
@use '../../values/easings' as easings;

#app {
    .writingAreaBox {
        width: 50vw;
        display: flex;
        justify-content: center;
    }

    #testWritingArea {
        display: flex;
        flex-wrap: wrap;
        row-gap: 25px;

        &[ data-visible="false" ] {
            opacity: 0;
        }

        span {
            font-family: 'Parkinsans', Helvetica, sans-serif;
            line-height: 100%;
            font-weight: 400;
            font-size: 3rem;

            transition: color .25s easings.$easeSmooth;
            color: rgba( colors.$primary, .25 );

            &[ data-state='typed' ] {
                color: colors.$primary;
            }
        }
    }
}