@import url( 'https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap' );
@import './values.scss';

body {
    margin: 0;
    background: $colorBackground;
    color: $colorForeground;
}

* {
    font-family: 'Parkinsans';
    box-sizing: border-box;

    font-size: 1.5rem;
}

::selection {
    background: $colorForeground;
    color: $colorBackground;
}